body {
    background-color: #333333;
    color: #fff;
}

.artistCard {
    background-color: #87C33F; 
    border-radius: 30px;
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 5px #53660a;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

li {
  

    color: #53660a;
}

.artistImage {
    width: 150px;
    height: 150px;
}
